
.cont{
  height:500px;
  width:100vw;
  background-image: linear-gradient(90deg,black,purple);
  display:flex;
  flex-direction: column;  
  gap:20px;
  margin:12px;
  border-radius: 12px;

}

.proim{
  
  height:300px;
  width:100vw;
  border-radius: 12px;;
}
.proim .img{
  height:300px;
  width:400px;
}
.det{
  background-color: black;
  width:100vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:aliceblue;


}

.det :hover{
  color:bisque;
}